   <div class="col-sm-2"> <!--style= "background-color: #007c9f; color: white">--> 
       
        <h4 class= "mb-3">Create new items</h4>
           <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           <li class="nav-item active">
               <a class = "nav-link text_link_kwb"  href="{% url "ews:spot_create" %}"> New bathing spot</a>
           </li>
           <li class="nav-item active">
                  <a class = "nav-link text_link_kwb"  href="{% url 'ews:add_site'%}"> New predictor</a>
           </li>
           <li class="nav-item active">
               <a class = "nav-link text_link_kwb" href = "{% url "ews:model_config" %}"> New prediction model </a>
           </li>
           </ul>
            
          </div>