{% extends "ews/base.html" %}

{% block title %}
{{entries.name}}
{% endblock %}

{% block body %}
    <h1>{{entries.name}}</h1>

    
      
    <h2>Predictor variables</h2>
    {%for station in stations%}
    <ul>
        
            <h5>{{station.name}}</h5> 
            <h5>{{station.id}}</h5> 
        
        <p>
            Type of predictor variable: {{station.feature_type}} 
            <button class= "btn-danger btn-sm">Delete</button>
            <form action="{% url 'ews:file_upload' station.id%}">
            <button class= "btn-primary btn-sm">Add data</button>
            </form>
        </p> 
        
    </ul>
        {% empty %}
        <h5>No predictors exist, yet. Create one and start modeling!</h5>
        <a href="{% url 'ews:add_station' %}"></a>
        {% endfor %}
    </ul>
    <form action="{% url 'ews:add_station' %}">
        <input type="submit" value="Add predictor" />
    </form>

{% endblock %}