{% extends "ews/base.html" %}

{% block title %}
    
{% endblock %}

{% block body %}
<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
   
    <ul>
        {% for entry in entries %}
     <div class="media px-3 mt-3">
              <div class="media-left pr-3">
             <a href= "{% url 'ews:detail' entry.id %}" > 
              <img class= "img-fluid" src="/static/ews/img/placeholder_dwc.png" alt="...">
            </a>
        </div>

        <div class="media-body">
                  <h4 class="media-heading">{{entry.name|title}}</h4>
                   <p> {{entry.description|capfirst}} 
                   <a href= "", class = "btn-sm btn-primary sm"> Edit </a>
                   <a href= "{% url 'ews:delete_model' entry.id %}", class = "btn-sm btn-danger sm"> Delete </a>
                </div>
        </div>
        {% empty %}
        <p>No Prediction models calibrated, yet. Click on <strong>configure prediction model</strong> to create one!</p>
        {% endfor %}
        
    </ul>
    </div>

    <div class="col-sm-3 offset-sm-1"> <!--style= "background-color: #007c9f; color: white">--> 
     <h4 class= "mb-3">Options</h4>
        <a class = "btn btn-primary mt-3 btn-block" href="{% url "ews:spot_create" %}"> Create new bathing spot</a>
        <a class = "btn btn-primary mt-3 btn-block" href="{% url 'ews:add_site'%}"> Create new predictor</a>
        <a class = "btn btn-primary mt-3 btn-block" href = "{% url "ews:model_config" %}"> Configure prediction model </a>

    </div>
{% endblock %}




            