{% extends "ews/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    
{% endblock %}

{% block body %}
<div class="container" style="padding: 5%">

  <div class="row">
    <div class="col-sm-8">
    <form action = "{%url "ews:model_config"%}", method = "post">
        {% csrf_token %}
        {{pmodel_form|crispy}}
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </form>        
    </div>

    <div class="col-sm-3 offset-sm-1"> <!--style= "background-color: #007c9f; color: white">--> 
     <h4 class= "mb-3">Options</h4>
        <a class = "btn btn-primary mt-3" href=""> Create new bathing spot</a>
        <button class = "btn btn-primary mt-3"> Configure prediction model </button>

    </div>
{% endblock %}